  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="jumbotron text-center">
  <h1>Payroll Management</h1>
  </div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h3>Insert Employee Details</h3>
	<a href="/insert_employee_details" class="btn btn-info" role="button">Insert Employee Details</a>
  
      </div>
    <div class="col-sm-3">
      <h3>Employee Attendance Sheet</h3>
	<a href=" /attendance" class="btn btn-info" role="button">Attendance Sheet</a>
  

      </div>

<div class="col-sm-3">
      <h3>Insert Designation And Salary Code</h3>
	<a href=" /designation" class="btn btn-info" role="button">Credits Sheet</a>
  

      </div>


    <div class="col-sm-3">
      <h3>Employee Salary Sheet</h3> 
<a href="/salary_sheet" class="btn btn-info" role="button">Salary Sheet</a>
         
    </div>
  </div>
</div>

