

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
 <div class="page-header">
    <h1>Payroll Management</h1>      
  </div>

 
    <ul class="nav navbar-nav">
      <li ><a href="/admin_home">Admin Home</a></li>
      <li><a href="/insert_employee_details">Insert Employee Details</a></li>
      <li><a href="/salary_sheet">Salary Sheet</a></li>
      <li><a href="/designation">Designation And Salary Code Entry Sheet</a></li>
    </ul>
  </div>
</nav>

<b><u><h1>ATTENDANCE SHEET</h1></u></b><br><br>

<form action="attendance_regular_entry" method="post">
<h3>

<label for="employee_id"> Employee Id:</label><br>
<input type="number" id="employee_id"  name="employee_id" value="{{employee_id}}" readonly/><br>

<label for="date"> Date:</label><br>
<input type="date" id="date"  name="date" placeholder="Date..."/><br>




<u>Attendance:</u>
<div class="container">
    <label class="checkbox-inline">
      <input type="checkbox" name="regular_shift" id="regular_shift">Regular
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" name="morning_shift" id="morning_shift">Morning Shift
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" name="evening_shift" id="evening_shift">Evening Shift
    </label>
 </div>

<br><br>
<label for="credit_id"> Credit Id:</label><br>
<input type="number" id="credit_id"  name="credit_id" /><br>


<label for="food_cost"> Food Cost:</label><br>
<input type="number" id="food_cost"  name="food_cost" placeholder="enter the food cost..."/><br>

<label for="credit_amount"> Credit Amount:</label><br>
<input type="number" id="credit_amount"  name="credit_amount" placeholder="enter the credit_amount..."/><br>


<label for="given_taken"> Given/Taken:</label><br>

<input type="radio" id="given_taken" name="given_taken" value="Given">Given<br>
  <input type="radio" id="given_taken" name="given_taken" value="Taken">Taken<br>  
<input type="submit"  name ="submit"/>



</h3>
</form>
  

