<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
					  

	




<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      
    </div>
 <div class="page-header">
    <h1>Payroll Management</h1>      
  </div>
 
    <ul class="nav navbar-nav">
      <li ><a href="/">Admin Home</a></li>
      <li><a href="/insert_employee_details">Employee Data Sheet</a></li>
      <li><a href="salary_sheet.html">Salary Sheet</a></li>
      <li><a href="/attendance">Attendance Sheet</a></li>
    </ul>
  </div>
</nav>



  

<h1>ATTENDANCE</h1>
<section class="insert">
    <h3>Insert  Attendance Data</h3>
    
<form action="/attendance_entry" method="post">

 		<div class="input">
 		<label for="employee_id"> Employee_id:</label><br>

 		<select name ="employee_id" id="employee_id">
 		{{# each items }}
				<option value="{{ this.id }}">{{this.name}}   {{this.id}}  {{this.designationId}}</option>
		{{/each}}
				
		</select>
		</div>  <br>    
 <div class="input">
            <label for="type_of_employee">Type Of Employee</label><br>
<select id="type_of_employee"  name="type_of_employee"  >
  <option value="Regular">Regular</option>
  <option value="Contractor">Contractor</option>
  </select>
</div>

<br>	
		
	<!---------->
<div id="contract" style="display:none;" >
  

<label for="date"> Date:</label><br>
<input type="date" id="date"  name="date" placeholder="Date..."/><br>


<label for="no_of_units"> Number Of Units:</label><br>
<input type="number" id="no_of_units"  name="no_of_units" placeholder="Number Of Units..."/><br>

<label for="food_cost"> Food Cost:</label><br>
<input type="number" id="food_cost"  name="food_cost" placeholder="enter the food cost..."/><br>

<label for="credit_amount"> Credit Amount:</label><br>
<input type="number" id="credit_amount"  name="credit_amount" placeholder="enter the credit_amount..."/><br>


<label for="given_taken"> Given/Taken:</label><br>

<input type="radio" name="given_taken" value="Given">Given<br>
  <input type="radio" name="given_taken" value="Taken">Taken<br>  
 <input type="radio" name="given_taken" value="None">None<br>  





  </div>
<!---------->
	
	
<!---------->
<div id="regular" style="display:block;" >
   <label for="date"> Date:</label><br>


<input type="date" id="date"  name="date" placeholder="Date..."/><br>





<u>Attendance:</u>   	  
       
        <div class="container">
    <label class="checkbox-inline">
      
<input type="checkbox" name="regular_shift" id="regular_shift" value="1">Regular
    </label>
    
<label class="checkbox-inline">
      <input type="checkbox" value="1" name="morning_shift" id="morning_shift">Morning Shift
    </label>
    
<label class="checkbox-inline">
      <input type="checkbox" value="1" name="evening_shift" id="evening_shift">Evening Shift
    </label>
 
</div>

<br><br>


<label for="food_cost"> Food Cost:</label><br>

<input type="number" id="food_cost"  name="food_cost" placeholder="enter the food cost..."/><br>

<label for="credit_amount"> Credit Amount:</label><br>
<input type="number" id="credit_amount"  name="credit_amount" placeholder="enter the credit_amount..."/><br>


<label for="given_taken"> Given/Taken:</label><br>

<input type="radio" id="given_taken" name="given_taken" value="Given">Given<br>
  <input type="radio" id="given_taken" name="given_taken" value="Taken">Taken<br>  

</div>
<!---------->
	
	


















	 <button type="submit">SUBMIT</button>
    </form>
</section>




<script>
$( "#type_of_employee" ).change(function() {
	 var optionSelected = $(this).find("option:selected");
  var valueSelected  = optionSelected.val();
  console.log(valueSelected);
	if(valueSelected=="Regular")
  {$("#regular").css("display", "block");
    $('#contract').css("display", "none");}
    else
    {  $("#regular").css("display", "none");
    $('#contract').css("display", "block");}
      
});
</script>