

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
 <div class="page-header">
    <h1>Payroll Management</h1>      
  </div>

 
    <ul class="nav navbar-nav">
      <li ><a href="/admin_home">Admin Home</a></li>
      <li><a href="insert_employee_details.html">Insert Employee Details</a></li>
      <li><a href="salary_sheet.html">Salary Sheet</a></li>
      <li><a href="/credits_sheet">Credits Sheet</a></li>
    </ul>
  </div>
</nav>

<b><u><h1>ATTENDANCE SHEET</h1></u></b><br><br>

<form action="attendance_contractor_entry" method="post">

<h3>

<label for="employee_id"> Employee Id:</label><br>
<input type="number" id="employee_id"  name="employee_id" value="{{employee_id}}" readonly/><br>

<label for="date"> Date:</label><br>
<input type="date" id="date"  name="date" placeholder="Date..."/><br>


<label for="no_of_units"> Number Of Units:</label><br>
<input type="number" id="no_of_units"  name="no_of_units" placeholder="Number Of Units..."/><br>

<label for="food_cost"> Food Cost:</label><br>
<input type="number" id="food_cost"  name="food_cost" placeholder="enter the food cost..."/><br>

<label for="credit_amount"> Credit Amount:</label><br>
<input type="number" id="credit_amount"  name="credit_amount" placeholder="enter the credit_amount..."/><br>


<label for="given_taken"> Given/Taken:</label><br>

<input type="radio" name="given_taken" value="Given">Given<br>
  <input type="radio" name="given_taken" value="Taken">Taken<br>  
 <input type="radio" name="given_taken" value="None">None<br>  




<input type="submit"  name ="submit"/>



</h3>
</form>
  

