<!DOCTYPE html>
<html lang="en">
<head>
  <title>Regular Salary</title>
<style>
h3,h1 {
    color: black;
    text-align: center;
}
p.one{
	text-align:left;
	font-size:200%;
}

p.two{
	text-align:right;
	font-size:200%;
}

input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=number] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submit] {
    width: 50%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}





table#tab1 {    
    border: 1px solid black;
   width:30%;
 border: 1px solid black;
   
 color:black;
}





</style>




  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      
    </div>
 <div class="page-header">
    <h1>Payroll Management</h1>      
  </div>
 
    <ul class="nav navbar-nav">
      <li ><a href="admin_home.html">Admin Home</a></li>
      <li><a href="insert_employee_details.html">Insert Employee Details</a></li>
      <li><a href="salary_sheet.html">Salary Sheet</a></li>
      <li><a href="attendance_sheet.html">Attendance Sheet</a></li>
    </ul>
  </div>
</nav>
  

<b><u><h1>CONTRACTOR SALARY SHEET</h1></u></b>

<form action=#>


<br><br>

<br>

<h3>
<label for="employee_id"> Employee Id:</label><br>
<input type="number" id="employee_id"  name="employee_id" value="{{employee_id}}" readonly/><br>



<label for="total_no_of_units"> Total Number Of Units:</label><br>
<input type="number" id="total_no_of_units"  name="total_no_of_units" value=""/><br>

<label for="total_amount"> Total Amount:</label><br>
<input type="number" id="total_amount"  name="total_amount" value=""/><br>

<label for="total_food_amount"> Total Food Amount:</label><br>
<input type="number" id="total_food_amount"  name="total_food_amount" value=""/><br>

<label for="return_food_amount"> Return Food Amount:</label><br>
<input type="number" id="return_food_amount"  name="return_food_amount" value=""/><br>

<label for="salary_after_reduction"> Salary After Reducing Food Amount:</label><br>
<input type="number" id="salary_after_reduction"  name="salary_after_reduction" value=""/><br>

<label for="old_credit"> Old Credit:</label><br>
<input type="number" id="old_credit"  name="old_credit" value=""/><br>

<label for="old_credit_return"> Old Credit Return:</label><br>
<input type="number" id="old_credit_return"  name="old_credit_return" value=""/><br>

<label for="new_credit"> New Credit:</label><br>
<input type="number" id="new_credit"  name="new_credit" value=""/><br>

<label for="net_salary"> Net Salary:</label><br>
<input type="number" id="net_salary"  name="net_salary" value=""/><br>
 

<input align="center" type="submit"  value ="SUBMIT"/>



</h3>
</form>
  




</body>
</html>
