

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      
    </div>
 <div class="page-header">
    <h1>Payroll Management</h1>      
  </div>
 
    <ul class="nav navbar-nav">
      <li ><a href="/">Admin Home</a></li>
      <li><a href="/insert_employee_details">Insert Employee Details</a></li>
      <li><a href="/salary_sheet">Salary Sheet</a></li>
      <li><a href="/attendance_sheet">Attendance Sheet</a></li>
    </ul>
  </div>
</nav>
  

<b><u><h1>CREDITS SHEET</h1></u></b><br><br>

<form action=#>
<h3>Employee Id:<input type="text" id="emp_id" /><br><br>
<input type="submit"  value ="SUBMIT"/><br><br>
Total Debt:<input type="number" id="debt"/ value=" "><br><br>
Date:<input type="date" id="from_date"/>
Time :<input type="time" id="time"/><br><br>
<br><br>



<input type="submit"  value ="SUBMIT"/>



</h3>
</form>
  




