  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
					  

	




<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      
    </div>
 <div class="page-header">
    <h1>Payroll Management</h1>      
  </div>
 
    <ul class="nav navbar-nav">
      <li ><a href="/">Admin Home</a></li>
      <li><a href="/credits_sheet">Credits Sheet</a></li>
      <li><a href="salary_sheet.html">Salary Sheet</a></li>
      <li><a href="/attendance">Attendance Sheet</a></li>
    </ul>
  </div>
</nav>



  

<h1>DESIGNATION</h1>
<section class="insert">
    <h3>Insert  Designation Data</h3>
    
<form action="/designation_entry" method="post">


        <div class="input">
            <label for="designation_name">Designation Name</label>
            <input type="text" id="designation_name" name="designation_name">
        </div>

        <div class="input">
            <label for="type_of_employee">Type Of Employee</label>
<select id="type_of_employee"  name="type_of_employee"  >
  <option value="Regular">Regular</option>
  <option value="Contractor">Contractor</option>
  </select>
</div>

<br>	
	
<!---------->
<div id="contract" style="display:none;" >
  <div class="input">
<label for="product_id">Product:</label>
<select id="product_id"  name="product_id"  >
	{{# each items }}
<option value={{this.id}}>{{this.product_name}}</option>
	{{/each}}
</select>  
        </div>      
	
	
        <div class="input">
            <label for="cost_unit">Cost Per Unit</label>
            <input type="number" id="cost_unit" name="cost_unit">
        </div>
        <div class="input">
            <label for="unit">Unit</label>
            <input type="text" id="unit" name="unit">
        </div>         	
</div>
<!---------->
	
	
<!---------->
<div id="regular" style="display:block;" >
      	  
       
        <div class="input">
            <label for="regular_shift_amount">Regular Shift Amount</label>
            <input type="number" id="regular_shift_amount" name="regular_shift_amount">
        </div>
        <div class="input">
            <label for="morning_shift_amount">Morning Shift Amount</label>
            <input type="number" id="morning_shift_amount" name="morning_shift_amount">
        </div>
         <div class="input">
            <label for="evening_shift_amount">Evening Shift Amount</label>
            <input type="number" id="evening_shift_amount" name="evening_shift_amount">
        </div>
</div>
<!---------->
	
	
	
		
		
	 <button type="submit">SUBMIT</button>
    </form>
</section>




<script>
$( "#type_of_employee" ).change(function() {
	 var optionSelected = $(this).find("option:selected");
  var valueSelected  = optionSelected.val();
  console.log(valueSelected);
	if(valueSelected=="Regular")
  {$("#regular").css("display", "block");
    $('#contract').css("display", "none");}
    else
    {  $("#regular").css("display", "none");
    $('#contract').css("display", "block");}
      
});
</script>
						  
 
						  