  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      
    </div>
 <div class="page-header">
    <h1>Payroll Management</h1>      
  </div>
 
    <ul class="nav navbar-nav">
<li><a href="/"> ADMIN HOME</a></li>
      
<li >    <a href="/get-data">LOAD DATA</a></li>
<li><a href="/insert_employee_details">INSERT EMPLOYEE DATA</a></li>

<li><a href="/update"> UPDATE DATA</a></li>
<li><a href="/delete"> DELETE DATA</a></li>

    </ul>
  </div>
</nav>
  







<section class="get">
    <h3>Get Data</h3>
 <table>   
        {{# each items }}
            <article class="item">

<tr>
              <td>  name: </td><td>{{ this.name }}</td>
	<td>employee_id:</td><td>{{ this.employee_id}}</td>
            <td>    phone_no:</td><td> {{ this.phone_no }}</td>
          <td>        designation: </td><td>{{ this.designation }}</td>
 <td> first_credit: </td><td>{{ this.first_credit }}</td>
                
              <td>    ID:</td><td> {{ this._id }}</td>
            </article>
        {{/each}}

</table>
   
</section>
