<h1>EMPLOYEE DETAILS</h1>
<section class="insert">
    <h3>Insert Data</h3>
    <form action="/insert" method="post">
        <div class="input">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
        </div>
        <div class="input">
            <label for="phone_no">Phone_no</label>
            <input type="text" id="phone_no" name="phone_no">
        </div>
        <div class="input">
            <label for="designation">Designation</label>
            <input type="text" id="designation" name="designation">
        </div>
          <div class="input">
            <label for="type_of_employee">Type_of_employee</label>
<select name="type_of_employee" id="type_of_employee">
  <option value="Regular">Regular</option>
  <option value="Contractor">Contractor</option>
 </select>
           
        </div>
        <div class="input">
            <label for="salary_code">Salary_code</label>
            <input type="text" id="salary_code" name="salary_code">
        </div>
        <button type="submit">INSERT</button>
    </form>
</section>
<section class="get">
    <h3>Get Data</h3>
    <a href="/get-data">LOAD DATA</a>
    <div>
        {{# each items }}
            <article class="item">
                <div>name: {{ this.name }}</div>
                <div>phone_no: {{ this.phone_no }}</div>
                <div>designation: {{ this.designation }}</div>
<div>type_of_employee: {{ this.type_of_employee }}</div>
                <div>salary_code: {{ this.salary_code}}</div>
                
                <div>ID: {{ this._id }}</div>
            </article>
        {{/each}}
    </div>
</section>
