  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
</script>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
  
  <div class="navbar-header">
      
    </div>
 <div class="page-header">
    
<h1>Payroll Management</h1>      
  </div>
 
    <ul class="nav navbar-nav">
  
    <li ><a href="/">Admin Home</a></li>
     
 <li><a href="/designation">Designation Entry Sheet</a></li>
      
<li><a href="salary_sheet.html">Salary Sheet</a></li>
  
    <li><a href="/attendance">Attendance Sheet</a></li>
    </ul>
  </div>
</nav>

  

<h1>EMPLOYEE DETAILS</h1>
<section class="insert">
    <h3>Insert Data</h3>
    
<form action="/insert" method="post">


        <div class="input">
        
    <label for="name">Name</label>
          
  <input type="text" id="name" name="name">
        </div>

    
    <div class="input">
            <label for="phone_no">Phone_no</label>
           
			<input type="mobile" id="phone_no" name="phone_no">
        </div>

   
		<div class="input">
				<label for="designation_id">Designation:</label>
				<select id="designation_id" name="designation_id"  >
				{{# each items }}
				<option value="{{ this.id }}">{{this.designation_name}}</option>
				{{/each}}
				</select>  
        </div>      


     
        <div class="input">
            <label for="first_credit">First Credit</label>
            <input type="number" id="first_credit" name="first_credit">
        </div>
            
  <button type="submit">INSERT</button>
    </form>
</section>
</div>



