  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="jumbotron text-center">
  <h1>Payroll Management</h1>
  </div>
  
<div class="container">
<form action="" method="">
<label for="username"> UserName:</label><br>
<input type="text" id="username" name="username" placeholder="UserName.."/><br>

<label for="password"> PassWord:</label><br>
<input type="text" id="password" name="password" placeholder="UserName.."/><br>

<input type="submit"  value ="LOGIN"/>



</form>         


</div>

