  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      
    </div>
 <div class="page-header">
    <h1>Payroll Management</h1>      
  </div>
 
    <ul class="nav navbar-nav">
      <li ><a href="/">Admin Home</a></li>
      <li><a href="/credits_sheet">Credits Sheet</a></li>
      <li><a href="salary_sheet.html">Salary Sheet</a></li>
      <li><a href="/attendance">Attendance Sheet</a></li>
    </ul>
  </div>
</nav>
  

<h1>PRODUCT DETAILS</h1>
<section class="insert">
    <h3>Insert Product Data</h3>
    <form action="/product_insert" method="post">
        <div class="input">
            <label for="product_name">Product Name</label>
            <input type="text" id="product_name" name="product_name">
        </div>
        <button type="submit">INSERT</button>
    </form>
</section>
</div>



