  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      
    </div>
 <div class="page-header">
    <h1>Payroll Management</h1>      
  </div>
 
    <ul class="nav navbar-nav">
      <li ><a href="/">Admin Home</a></li>
      <li><a href="/credits_sheet">Credits Sheet</a></li>
      <li><a href="salary_sheet.html">Salary Sheet</a></li>
      <li><a href="/attendance">Attendance Sheet</a></li>
    </ul>
  </div>
</nav>
  

<h1>SALARY REGULAR TABLE ENTRY</h1>
<section class="insert">
    <h3></h3>
    <form action="/salary_regular_entry" method="post">

 <div class="input">
            <label for="salary_id">Salary Id</label>
            <input type="number" id="salary_id" name="salary_id" value="{{salary_id}}" readonly/>
        </div>
       
        <div class="input">
            <label for="regular_shift_amount">Regular Shift Amount</label>
            <input type="number" id="regular_shift_amount" name="regular_shift_amount">
        </div>
        <div class="input">
            <label for="morning_shift_amount">Morning Shift Amount</label>
            <input type="number" id="morning_shift_amount" name="morning_shift_amount">
        </div>
         <div class="input">
            <label for="evening_shift_amount">Evening Shift Amount</label>
            <input type="number" id="evening_shift_amount" name="evening_shift_amount">
        </div>
       



        	 <button type="submit">SUBMIT</button>
    </form>
</section>
</div>



