

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
 <div class="page-header">
    <h1>Payroll Management</h1>      
  </div>

 
    <ul class="nav navbar-nav">
      <li ><a href="/admin_home">Admin Home</a></li>
      <li><a href="/insert_employee_details">Insert Employee Details</a></li>
      <li><a href="/salary_sheet">Salary Sheet</a></li>
      <li><a href="/credits_sheet">Credits Sheet</a></li>
    </ul>
  </div>
</nav>

<b><u><h1>SALARY SHEET</h1></u></b><br><br>

<form action="/salary_check" method="post">
<h3>
<label for="employee_id" >Employee Id:</label>
<input type="text" id="employee_id" name="employee_id" /><br><br>
  <label for="type_of_employee">Type_of_employee</label>
<select name="type_of_employee" id="type_of_employee">
  <option value="Regular">Regular</option>
  <option value="Contractor">Contractor</option>
 </select>
<br><br>



<input type="submit"  name ="submit"/>



</h3>
</form>
  

