  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      
    </div>
 <div class="page-header">
    <h1>Payroll Management</h1>      
  </div>
 
    <ul class="nav navbar-nav">
      <li ><a href="/">Admin Home</a></li>
      <li><a href="/credits_sheet">Credits Sheet</a></li>
      <li><a href="salary_sheet.html">Salary Sheet</a></li>
      <li><a href="/attendance">Attendance Sheet</a></li>
    </ul>
  </div>
</nav>
  

<h1>DESIGNATION</h1>
<section class="insert">
    <h3>Salary Contract Data</h3>
    <form action="/salary_contractor_entry" method="post">
 <div class="input">
            <label for="salary_id">Salary Id</label>
            <input type="number" id="salary_id" name="salary_id" value="{{salary_id}}" readonly>
        </div>


        
<div class="input">
            <label for="product_id">Product Id</label>
            <input type="text" id="product_id" name="product_id">
        </div>

  <div class="input">
        <table>   
        {{# each items }}
            <article class="item">

<tr>
              
              <td>    ID:</td><td> {{ this._id }}</td>

<td>Product Name:</td><td>{{this.product_name}}</td>
            </article>
        {{/each}}

</table>
          
        </div>

        
        <div class="input">
            <label for="cost_unit">Cost Per Unit</label>
            <input type="number" id="cost_unit" name="cost_unit">
        </div>
        <div class="input">
            <label for="unit">Unit</label>
            <input type="text" id="unit" name="unit">
        </div>




        	 <button type="submit">SUBMIT</button>
    </form>
</section>
</div>



