<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      
    </div>
 <div class="page-header">
    <h1>Payroll Management</h1>      
  </div>
 
  </div>
</nav>


<section class="update">
    <h3>Update Data</h3>
    <form action="/updatedetails" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <div class="input">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
        </div>
        <div class="input">

 <label for="employee_id">Employee Id</label>
            <input type="number" id="employee_id" name="employee_id">
</div>
        <div class="input">
            <label for="phone_no">Phone Number</label>
            <input type="number" id="phone_no" name="phone_no">
        </div>
        <div class="input">
            <label for="designation">Designation</label>
            <input type="text" id="designation" name="designation">
        </div>
 <div class="input">
            <label for="salary_code">Salary Code</label>
            <input type="number" id="salary_code" name="salary_code">
        </div> <div class="input">
            <label for="type_of_employee">Type Of Employee</label>
            <input type="text" id="type_of_employee" name="type_of_employee">
        </div>
        <button type="submit">UPDATE</button>
    </form>
</section>
